
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Home</title>
    <style>
        .AH{
    background-color: grey;}
    </style>
</head>
<body class="AH">
    <h1>Admin Home</h1>
    
  
</body>
</html>
