/* Custom CSS styles for the landing page */

/* Adjust navbar color and text color */
.navbar {
    background-color: teal;
}

.navbar-dark .navbar-brand, .navbar-dark .navbar-nav .nav-link {
    color: teal;
}
/* .body{
    background: url(binary.jpg);
    background-repeat: cover;
} */
/* Style hero section */

.hero {
    background-image: url(https://img.freepik.com/free-photo/view-illuminated-neon-gaming-keyboard-setup-controller_23-2149529357.jpg?size=626&ext=jpg&ga=GA1.1.1630797873.1688580850&semt=sph);
    background-size: cover;
    background-position: center;
    color:  rgb(198, 194, 194);
    text-align: center;
    padding: 100px 0;
}

.hero h1 {
    font-size: 3rem;
}

.hero p {
    font-size: 1.25rem;
}
.container h2{
   color:rgb(169, 168, 168) !important;
}
.container p{
    color:rgb(122, 122, 122) !important;
}
.btn-primary {
    color: #fff;
    background-color: #117a8b;
    border-color: #17a2b8;
    
}



